html {
    background-color: #f6f6de;
    font-family: 'Gill Sans', Arial;
}

.skip {
    position: absolute;
    overflow: hidden;
    top: auto;
    width: 1px;
    height: 1px;
    font-size: 20px;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
    top: auto;
    border: 2px solid #000000;
}

h1 {
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-left: 10px;
}

div h2 {
    margin-left: 0px;
}

.content-grid h2 {
    text-align: center;
}

h3 {
    font-size: 25px;
    margin-left: 10px;
    margin: 10px;
}

p {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

li {
    font-size: 20px;
    margin-left: 30px;
    list-style: circle;
    margin-right: 10px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #4b3e45;
}

footer {
    margin-top: 80px;
    margin-bottom: 10px;
}

figcaption {
    font-size: 15px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-bottom: 30px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

ul.menu li {
    list-style-type: none;
}

.menu .button {
    background-color: #caf1f5;
    border: 2px solid #164614;
    border-radius: 30px;
    box-shadow: #164614 4px 4px 0 0;
    color: #4b3e45;
    cursor: pointer;
    display: block;
    font-weight: 500;
    font-size: 15px;
    padding: 0px 10px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.menu .button:hover {
    border: 2px solid #164614;
    background-color: #f5cae0;
}

.menu .button:active {
    transform: translate(3px, 3px);
    box-shadow: #164614 2px 2px 0 0;
}

.button:hover {
    border: 2px solid #164614;
    background-color: #f5cae0;
}

.menu .button a {
    display: block;
}

.menu a.active {
    background-color: #f5cae0;
    font-weight: bolder;
}

img {
    width: 300px;
    height: 180px;
}

.grid-template {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    justify-items: center;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    justify-items: center;
}

.option-hover {
    transform: translate(3px, 3px);
}

.example_b {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

div.game-div h2 {
    box-shadow: inset 0 0 0 0 #4095d2;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

div.game-div h2:hover {
    color: #fff;
    box-shadow: inset 380px 0 0 0 #4095d2;
}

div.home-game h2 {
    box-shadow: inset 0 0 0 0 #4095d2;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

div.home-game h2:hover {
    color: #fff;
    box-shadow: inset 250px 0 0 0 #4095d2;
}

div.character-div h2 {
    box-shadow: inset 0 0 0 0 #b65375;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

div.character-div h2:hover {
    color: #fff;
    box-shadow: inset 300px 0 0 0 #b65375;
}

div.home-characters h2 {
    box-shadow: inset 0 0 0 0 #b65375;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

div.home-characters h2:hover {
    color: #fff;
    box-shadow: inset 250px 0 0 0 #b65375;
}

.contact-icon {
    width: 30px;
    height: 20px;
}

.bottom-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.gallery {
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.fade {
    animation: fade 1.5s ease-out infinite;
}

@keyframes fade {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    background-color: #0e3501;
    color: #ccedd0;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slide img {
    width: 350px;
    height: 200px;
}

.computer-border {
    border-image: url("/images/computer_border.jpeg") 30 round;
}

@media screen and (min-width: 750px) {
    .menu .button {
        font-size: 30px;
        padding: 10px 30px;
    }

    h1 {
        font-size: 55px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 35px;
    }
    
    p {
        font-size: 25px;
    }
    
    li {
        font-size: 25px;
    }
    
    a {
        font-size: 25px;
    }

    img {
        width: 600px;
        height: 350px;
    }

    .prev, .next {
        padding: 15px;
        font-size: 20px;
    }

    .slide img {
        width: 650px;
        height: 400px;
    }

    .games {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .game-cover {
        width: 350px;
        height: 220px;
    }

    .contact-icon {
        width: 50px;
        height: 30px;
    }

    figcaption {
        font-size: 20px;
    }
}

@media screen and (min-width: 1300px) {
    .main {
        display: grid;
        grid-template-columns: .5fr 3fr .5fr;
    }

    .menu .button {
        font-size: 35px;
        padding: 10px 30px;
    }

    h1 {
        font-size: 55px;
    }
    
    h2 {
        font-size: 45px;
    }
    
    h3 {
        font-size: 35px;
    }
    
    p {
        font-size: 30px;
    }
    
    li {
        font-size: 30px;
    }
    
    a {
        font-size: 30px;
    }

    img {
        width: 650px;
        height: 400px;
    }

    figcaption {
        font-size: 25px;
    }

    .prev, .next {
        padding: 15px;
        font-size: 20px;
    }

    .slide img {
        width: 800px;
        height: 480px;
    }

    .grid-template {
        grid-column: 2/2;
        margin: 20px;
    }

    .game-cover {
        width: 400px;
        height: 250px;
    }

    .games {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-icon {
        width: 60px;
        height: 40px;
    }

    .bard-left {
        grid-column: 1/1;
        background-color: #fbe87f;
    }

    .bard-right {
        grid-column: 3/-1;
        background-color: #45af87;
    }

    .fu-xuan-left {
        grid-column: 1/1;
        background-color: #c56fce;
    }

    .fu-xuan-right {
        grid-column: 3/-1;
        background-color: #ffe6f3;
    }

    .honkai-left {
        grid-column: 1/1;
        background-color: #164bb2;
    }

    .honkai-right {
        grid-column: 3/-1;
        background-color: #164bb2;
    }

    .kirby-left {
        grid-column: 1/1;
        background-color: #fe74a7;
    }

    .kirby-right {
        grid-column: 3/-1;
        background-color: #fe74a7;
    }

    .league-left {
        grid-column: 1/1;
        background-color: #38628e;
    }

    .league-right {
        grid-column: 3/-1;
        background-color: #ebc853;
    }

    .moira-left {
        grid-column: 1/1;
        background-color: #411c55;
    }

    .moira-right {
        grid-column: 3/-1;
        background-color: #e3d161
    }

    .overwatch-left {
        grid-column: 1/1;
        background-color: white;
    }

    .overwatch-right {
        grid-column: 3/-1;
        background-color: #f16517;
    }

    .pokemon-left {
        grid-column: 1/1;
        background-color: #f83f31;
    }

    .pokemon-right {
        grid-column: 3/-1;
        background-color: white;
    }

    .sage-left {
        grid-column: 1/1;
        background-color: #007c8f;
    }

    .sage-right {
        grid-column: 3/-1;
        background-color: #62f1f6;
    }

    .tft-left {
        grid-column: 1/1;
        background-color: #edab3f;
    }

    .tft-right {
        grid-column: 3/-1;
        background-color: #edab3f;
    }

    .togekiss-left {
        grid-column: 1/1;
        background-color: #3297d5;
    }

    .togekiss-right {
        grid-column: 3/-1;
        background-color: #b84b3c;
    }

    .valorant-left {
        grid-column: 1/1;
        background-color: black;
    }

    .valorant-right {
        grid-column: 3/-1;
        background-color: #fe4654;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    .example_b, .example_b:hover, div.character-div h2, div.home-characters h2,  div.home-game h2, div.game-div h2 {
        transition: none;
    }
}